@import url(./color.css);
@import url(./fonts.css);

* {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

main {
    margin: auto;
    background: #F2F2F2;
}

h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}


.head-div {
    display: grid;
    margin: auto;
    width: 375px;
    row-gap: 32px;
    padding: 32px 16px 0 16px;
    box-sizing: border-box;
    background-color: white;
}

/* tablets */
@media screen and (min-width: 768px) {
    .head-div {
        width: 331px;
        height: 700px;
        row-gap: 48px;
        padding: 145px 0px 145px 0;
        position: relative;
        left: -48px;
        background-color: transparent;
        margin: 0;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .head-div {
        /* width: calc(1275px - 165px); */
        height: 800px;
        row-gap: 64px;
        position: relative;
        left: calc((140px - 450px) - 550px);
        display: flex;
        column-gap: 290px;
        align-items: flex-start;
    }


}

/* tablets */
@media screen and (min-width: 768px) {
    main>div>div {
        background-color: white;
        display: flex;
        width: 768px;
        margin: auto;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    main>div>div {
        display: flex;
        width: 1440px;
        margin: auto;
    }
}

.head-div p {
    width: 343px;
    height: 112px;
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

/* tablets */
@media screen and (min-width: 768px) {
    .head-div p {
        width: 340px;
        font-size: 1.8rem;
        line-height: 28px;
        margin-bottom: 48px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .head-div p {
        width: 350px;
        font-size: 2.2rem;
        line-height: 32px;
        margin-bottom: 64px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .black-background {
        width: 450px;
        height: 800px;
        background-color: var(--black);

    }
}

.background-image {
    width: 375px;
    height: 240px;
    margin: auto;
    margin-top: 0;
}

/* tablets */
@media screen and (min-width: 768px) {
    .background-image {
        width: 437px;
        height: 700px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .background-image {
        width: 540px;
        height: 800px;
        margin: 0;
    }
}

.logo-image {
    width: 343px;
    height: 110px;
}

.logo-image.dark {
    display: none;
}

/* tablets */
@media screen and (min-width: 768px) {
    .logo-image {
        width: 339px;
        height: 130px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .logo-image.dark {
        display: block;
        top: -178px;
        filter: invert(1);
        clip-path: polygon(0 0, 62.5% 0, 62.5% 100%, 0 100%);
    }

    .logo-image {
        width: 514px;
        height: 176px;
        position: relative;
    }
}

.head-div>picture>img {
    width: 100%;
}

a .part-1 {
    color: white;
    text-decoration: none;
    text-align: center;
}

.button {
    display: flex;
    border: none;
    text-decoration: none;
    width: 260px;
    box-sizing: border-box;
}

/* desktop */
@media screen and (min-width: 1440px) {}

.button .part-1 {
    width: 204px;
    height: 72px;
    display: flex;
    background-color: var(--black);
    color: white;

    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 23.94px;
    letter-spacing: 3.6363637447357178px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.button:hover .part-1 {
    background-color: var(--brown);
    transition: 0.25s linear 0.05s;
}

.button .part-2 {
    width: 56px;
    height: 72px;
    background-color: var(--brown);
    display: flex;
    align-items: center;
}

.button:hover .part-2 {
    background-color: var(--black);
    transition: 0.25s linear 0.05s;
}

a div img {
    margin: auto;
}

.grid-container {
    width: 343px;
    display: grid;
    margin: auto;
    padding: 120px 16px;
    gap: 16px;
    background-color: white;
}

/* tablets */
@media screen and (min-width: 768px) {
    .grid-container {
        width: 768px;
        padding: 120px 40px 120px 39px;
        gap: 11px;
        box-sizing: border-box;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .grid-container {
        width: 1440px;
        padding: 180px 164px 180px 165px;
        gap: 30px;
    }
}

/* tablets */
@media screen and (min-width: 768px) {
    .grid-container-1 {
        display: grid;
        grid-template-columns: 280px auto;
        gap: 11px;
    }

    .item1 {
        order: 2;
        height: 400px;
    }

    .item2 {
        order: 1;
    }

    .br-mobile {
        display: none;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .grid-container-1 {
        grid-template-columns: 445px auto;
        gap: 30px;
    }
}

.grid-container img {
    width: 100%;
}

/* tablets */
@media screen and (min-width: 768px) {

    .grid-container img {
        width: auto;
    }
}

.grid-item {
    width: 343px;
    box-sizing: border-box;
}

/* tablets */
@media screen and (min-width: 768px) {
    .grid-item {
        width: auto;
    }
}

.text-box {
    min-width: 343px;
    display: grid;
    gap: 21px;
}

/* tablets */
@media screen and (min-width: 768px) {
    .text-box {
        min-width: 280px;
        height: 400px;
        display: grid;
        gap: 24px;
        padding: 26px 50px 65px 0;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .text-box {
        min-width: 445px;
        display: grid;
        gap: 32px;
        padding: 60px 95px 60px 0;
    }
}

.text-box h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 5rem;
    font-weight: 900;
    line-height: 45px;
    text-align: left;
}

/* desktop */
@media screen and (min-width: 1440px) {
    .text-box h2 {
        font-size: 6rem;
        line-height: 60px;
    }
}

/* tablets */
@media screen and (min-width: 768px) {
    .grid-container-2 {
        display: grid;
        grid-template-columns: 398px 280px;
        grid-template-rows: 313pxs 396;
        gap: 11px;
    }

    .item3 {
        grid-column: 1 / 2;
        /* Occupy the first column */
        grid-row: 1 / 3;
        /* Span both rows */
        height: 700px;
        width: 398px;
    }

    .item4 {
        grid-column: 2 / 3;
        /* Occupy the second column */
        grid-row: 1 / 2;
        /* Stay in the first row */
        height: 313px;
        width: 280px
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .grid-container-2 {
        grid-template-columns: 635px 445px;
        grid-template-rows: 313pxs 377px;
        gap: 30px;
    }

    .item3 {
        grid-column: 1 / 2;
        /* Occupy the first column */
        grid-row: 1 / 3;
        /* Span both rows */
        height: 720px;
        width: 635px;
    }

    .item4 {
        grid-column: 2 / 3;
        /* Occupy the second column */
        grid-row: 1 / 2;
        /* Stay in the first row */
        width: 445px
    }
}

.text-box p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

/* desktop */
@media screen and (min-width: 1440px) {
    .text-box p {
        font-size: 2.2rem;
        line-height: 32px;
    }

}

.grid-container .grid-item-white-box {
    height: 223px;
    color: black;
}

/* desktop */
@media screen and (min-width: 1440px) {}

.grid-container .grid-item-black-box {
    height: 293px;
    background-color: var(--black);
    color: white;
    padding: 48px 24px 47px 24px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

/* tablets */
@media screen and (min-width: 768px) {
    .grid-container .grid-item-black-box {
        grid-column: 2 / 3;
        /* Occupy the second column */
        grid-row: 2 / 3;
        /* Stay in the second row */
        width: 280px;
        height: 396px;
        background-color: var(--black);
        padding: 85px 28px 85px 29px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .grid-container .grid-item-black-box {
        grid-column: 2 / 3;
        /* Occupy the second column */
        grid-row: 2 / 3;
        /* Stay in the second row */
        width: 445px;
        height: 377px;
        padding: 65px 47px 64px 48px;
    }
}

footer {
    display: flex;
    width: 100%;
    height: 336px;
    background-color: var(--black);
}

/* tablets */
@media screen and (min-width: 768px) {
    footer {
        height: 216px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    footer {
        height: 244px;
    }
}

.footer-container {
    width: 375px;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding: 48px 32px;
    display: grid;
    gap: 38px;
}

/* tablets */
@media screen and (min-width: 768px) {
    .footer-container {
        width: 768px;
        padding: 56px 40px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .footer-container {
        width: 1440px;
        padding: 80px 165px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .footer-container>img {
        width: 160px;
        height: 58px;
    }
}

footer p {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* tablets */
@media screen and (min-width: 768px) {
    footer p {
        width: 281px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    footer p {
        width: 430px;
        font-size: 1.8rem;
        line-height: 28px;
    }
}

.icon-container {
    display: flex;
    gap: 20px;
}

/* desktop */
@media screen and (min-width: 1440px) {}

.icon-container>img:hover {
    filter: invert(50%) sepia(8%) saturate(2457%) hue-rotate(335deg) brightness(100%) contrast(89%);
    cursor: pointer;
}